.header {
  align-items: center;
  background-color: rgb(179, 179, 179);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header img {
  border-radius: 50%;
}

.header .user {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header span {
  margin: 10px;
}
