.exploreContainer {
  background-color: orange;
  display: flex;
  flex-direction: column;
  margin-right: 110%;
  margin-top: 5%;
  width: 317px;
}

.exploreContainer button {
  background-color: orange;
  color: red;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 1s;
  width: 80%;
}

.exploreContainer button:hover {
  background-color: red;
  color: orange;
}

.exploreContainer input {
  width: 100%;
}

.exploreContainer input [ type = 'text' ] {
  background-color: orange;
  border-color: red;
  color: red;
  outline: none;
  padding-left: 1rem;
  width: 150%;
}

.exploreContainer input [ type = 'text' ]:focus {
  background-color: red;
  color: orange;
}

.exploreContainer label {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  width: 150%;
}

.exploreContainer label:hover {
  background-color: red;
  color: orange;
}
