.headerContainer {
  align-items: center;
  background-color: orange;
  color: red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.headerContainer button:last-child {
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  outline: none;
}

.headerContainer h3 {
  font-size: 2rem;
}

.headerContainer img {
  height: 1.5rem;
}
